matrix:
  include:
  - os: windows
    language: c
    before_install:
    - choco install jdk11
    - choco install openssl.light
    script: ".\\\\gradlew check"
  - os: linux
    language: java
    jdk: openjdk11
    before_install:
    - chmod +x gradlew
    script: "./gradlew check"
  - os: osx
    language: java
    jdk: openjdk11
    before_install:
    - chmod +x gradlew
    script: "./gradlew check"
  allow_failures:
  - os: windows
before_cache:
- rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
- rm -fr $HOME/.gradle/caches/*/plugin-resolution/
cache:
  directories:
  - "$HOME/.gradle/caches/"
  - "$HOME/.gradle/wrapper/"
after_success:
- |
  if ([ "$TRAVIS_BRANCH" == "master" ] || [ ! -z "$TRAVIS_TAG" ]) && [ "$TRAVIS_PULL_REQUEST" == "false" ]; then
    echo "Deploying..." && ./gradlew publish
  fi
env:
  global:
  - SIGNING_SECRETRINGFILE=~/secret.gpg
  - secure: G2UA6NY3lWFdqitcY7hgHlfdZ3r0jzijkt89/pbJ2eBnCR5vaWbgfdMZHFkHIkYJpKUgqYq0E2ItoOvJWMHboS+74fDS1HjElJ7/+u772C1WcN1Ft39aCtahxA1l89Zzyij5T+x79/zyvykAxN9TZR4DyoQrQO30Q/2vLYSIpwWvpCpAk7ASvKFC+BfsdEQArMeMpqEceE3t1qF8Ya9zINSsK0pvGyrLMAHKYdn4lHtJUa3TR31lDQ8WK7e+P/ZWFNtMBdbdmiOICXPT1hlJp0+J1aCVgB2kcd6WoffumaHmGUjNDZoHlOzhlqUrWBs1uvwbnKDFcNckI2gsBpSQpL36/6OiqjslYCEkmoVhDvljG/YljOTWsOLxkeeWdNYUrTUGYMkGxsngWjKDlK+HDJ9As8xCbAnHF0jNf+eK8WXR+iqX1gfNa4cm6zsWaL83cwhvCNXqhdh+CD3uBC8xNffBwIwkLtuRLvxXFZ+3HJ460L8Cr5pOuKWGkAWxO7zMFnFx3isV0k8B3UU5Arkd5Ln6ttgAw3UefiIyF5FOMjHIKtPnUjSMx5PhFANc0y7hCzp2AaWbLWVa8/dDdhzW1fgo64UzxB/6uneshVYNmS+ooW2dEZCg0OE1NZ31yorCN+M3jEeXM9KulMPxCW7Y+/MFYs/TCwV39Pn3dM0xm18=
  - secure: QwC1V8y7zLSYaGIRaoPK5tDTV4KglMPZipaC1ZkkjaHmZPzBIP3ip+ktEKpq6fZxjl0cnWtYs5BFsbXCs4/B2lHRcIqCJ/Ug0InoTjkJ3qJMWtg79Ma2tiLIRo1x0U2OYVAhb+rvpqZ/7UCCVQvbUijR7qbhWp0PC84cjIx1zyrNad8c3t62foQdQntMEoC6UTmjSQZqNvxwdPKHc9LqH4mt42bzuefrbLtmV9EKWjwAGkr+Hc3Pdp5SvLojEpX2ERLhgm7xf297MYUQBSpz8CkdQ+iT0o363/CPcvbA5dK4QYormSwAEmUbcRkNf7lwFBgTiUiG4ItXSRxbQgeo/U5wWo83PuOmRqvef2LpHjMukm1kPRAXhx3VG5axWZNHg0e9WD8rYzeNlcCVN9bfEn2k5UC1rY4OsmDoK7GsIp7ejS7YTcxao7n4YXz4kuqZ7siY0sS9nCQwcdwC35y7HbS2YCoIcsf31lZE+1vZIswwA1j6jnh2ODCl0Bu9UsxvTEmJrWUaY4AWw3BkWn6S8Jb3Ae7mazl9p5hP4e3X2YjE2Y61wiXG2Mhq9XedfpnAxr+tqtgmrROyhBbN1TOU6nYbRth1LpOjRE5q1b83ugd0J3+mIkaEiUWYhlZpTN0UbWumX3kUTGuVFgwWH3cIgmVokC9uY22Xi+t6cAoOwQA=
  - secure: bTh3yTv45VI28CKW4OTcw3YMCYIjDxbrDX3fFy/51yrcVx1tYk5ljKFiXIV045Zbef8fF5Mw1pxD3PbOfXpPnwooOb1fl0nNJLlgc9eU32V3/WU5kgyOAcp84ahdKkdgWOHjDamaC3VxuMszRbNXA2bhHrqcsDXuk2ZFYEW23XshcfTnIq+J4KVkDSaEYGVrqcqW8isxibbO+OgjNkrYn9CHe0Foeufrh8ncxcTsz4xlN8s8vDc+Wu3W4NTIUHPdS6Cu83eb17pc8A4znRiW+RDq+PJjn9dGE3gJZASBl9FY/Yjuh4/mkgRF78G5jIykBVS2qa3q9Hnh689JfM2oHNyvIdTvBBlJF7gAtEutgOWDS39J2XfwpBfFJvIDpSMaNwrve+UF/RYnzZ50Z5V/qTDbw+BckW3hCBj5ThK6o8eeSS6dyS2Icyvl22jsmPT6v5wknisZVTRJoJbNSKdjV6Zh1Zl/+uhmFHQooUqWGig20dyFNzKbxgHgo11MM/0IQIgJRT6yhqBcVNP5yFYejbgMaXIe/o8VevlvMQJRhYtT9d9WC+VGKomGEEthZ6Ijtj1Tfgo9gp2y1/+UXuUQp5ef7sg5OMaP8SCbVyvHK1EJm2PCWOoQuWsw8o6D45lOVESF8Qygv4c/zu7i3gvl3jQIH7xosy80boZCXCKB5gE=
  - secure: d30sdV9gWxo/JkdfNXt28HGblb9oT7QCnRkPVU7Jc8PnwwUdv70FLh7mNCfcoXjMzQ/LoQo3Ywd7TWwwOzqBt74up6iQbu8DrTX751kxzdNPNvhEgpqfI8TGvte2AxBQsZz/k9w5Ep8L/OBhH1fmYKmCfaLl5BPjMHUkHg/s5dBGcPZMEE5ErdEyLm6P8m83CFFURHiUzAWKtmz97N+7k7TxfLD9kxJGTnuqnr4n5UyjRgJhW7HNpmurNFrIKB3/tOddmzfL46GvQRRPBFBe2zw72nywVf9Zl1Gh3qYxXPuY3e4VFSxcs3HGGHj0JhkuSrbf66+QuGaMrXvRoVas5n6hmEG9paAXYwM01qlixFofmhKGreTjePKyuJ4ZR2dgpQTDNZ9lzblO1BXzC7SZnVQngVpq9batfeerkK2Rt8jRlTg9BHiKjEej++RgYgpRT4CpKS/RAilB5jg6tFrpVz7i8wbZ4q2ZVAicYm8lph16XkZHBIdtCSjhGFMRb0FCJEtEe5LRF8njiAcVIKEOd1sblFJbN/lpWVzKQYitdBvuFSIMWhWvRToqKxg/LHM/ikSQeiJNqPMBP3YYz71zYG6qD3fdzwAO/sxtW9aj2Hm9QqPoQLLzqiCgmErxWal3EUXoTB2SZi12zJxc01X8CwulB/e9Gibhwn3aMlYoZQQ=
before_install:
- openssl aes-256-cbc -K $encrypted_4e33f563f3da_key -iv $encrypted_4e33f563f3da_iv -in ./secret.gpg.enc -out ~/secret.gpg -d
