matrix:
  include:
    - os: windows
      language: c # workaround until travis supports generic language builds
      before_install:
      - choco install jdk8
      - choco install openssl.light
      script: .\gradlew check
    - os: linux
      language: generic
      before_install:
      - sudo apt-get install openjdk-8-jdk -y
      - chmod +x gradlew
      script: ./gradlew check
    - os: osx
      language: generic
      before_install:
      - brew tap caskroom/versions && brew cask install java8
      - chmod +x gradlew
      script: ./gradlew check

before_script:
  - openssl aes-256-cbc -K $encrypted_4e33f563f3da_key -iv $encrypted_4e33f563f3da_iv
    -in secret.gpg.enc -out secret.gpg
    -d

before_cache:
  - rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
  - rm -fr $HOME/.gradle/caches/*/plugin-resolution/

cache:
  directories:
    - "$HOME/.gradle/caches/"
    - "$HOME/.gradle/wrapper/"

after_success:
  if ([ "$TRAVIS_BRANCH" == "master" ] || [ ! -z "$TRAVIS_TAG" ]) && [ "$TRAVIS_PULL_REQUEST" == "false" ]; then
    if [[ "$TRAVIS_OS_NAME" == "windows" ]]; then .\gradlew publish;
    else ./gradlew publish
  else
  echo "This will not deploy!"
  fi